body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}

.sol {
    position: relative;
    width: 600px;
    height: 600px;
}

.sun {
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at 30% 30%, #fff, #ff0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 40px #ff0;
    animation: pulse 5s ease-in-out infinite alternate;
    z-index: 100;
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px dashed rgba(252, 252, 252, 0.394);
}

/* Normal orbit*/
.mercury-orbit {
    width: 160px;
    height: 160px;
    animation: orbit 8s linear infinite;
}

.venus-orbit {
    width: 280px;
    height: 280px;
    animation: orbit 22s linear infinite;
}

.earth-orbit {
    width: 460px;
    height: 460px;
    animation: orbit 36s linear infinite;
}

.mercury {
    position: absolute;
    top: 20px;
    right: 18px;
    width: 9px;
    height: 9px;
    background: rgb(167, 166, 166);
    border-radius: 50%;
}

.venus {
    position: absolute;
    top: 35px;
    right: 35px;
    width: 12px;
    height: 12px;
    background: rgb(255, 186, 58);
    border-radius: 50%;
}

.earth {
    position: absolute;
    top: 59px;
    right: 55px;
    width: 20px;
    height: 20px;
    background: rgb(32, 125, 255);
    border-radius: 50%;
}

.moon-orbit {
    width: 50px;
    height: 50px;
    animation: orbit 3s linear infinite;
}

.moon {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 8px;
    height: 8px;
    background: rgb(172, 172, 172);
    border-radius: 50%;
}

/*---*/

@keyframes orbit {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 20px rgba(181, 181, 5, 0.853);
    }

    100% {
        box-shadow: 0 0 100px rgb(252, 255, 69);
    }
}